<% layout('layout')%>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="<%=product.image%>">
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h3><%=product.name%></h3>
            <h1>$<%=product.price%></h1>


            <form method="post">
                <div class="btn-group" role="group">
                    <!--this quantity will be passed to server-->
                    <input type="hidden" name="quantity" id="quantity" value="1">   <!--需要购买的数量-->
                    <button type="button" id="minus" class="btn btn-default">-</button>
                    <button type="button" id="count" class="btn btn-default">1</button>
                    <button type="button" id="plus" class="btn btn-default">+</button>
                </div>

                <div class="form-group">
                    <input type="hidden" name="product_id"  value="<%=product._id%>">
                    <input type="hidden" name="priceHidden" id="priceHidden" value="<%=product.price%>">

                    <input type="text" name="item" class="form-control" value="<%=product.name%>">
                    <!--price value will change when add/minus-->
                    <input type="text" id="priceValue" name="priceValue" class="form-control" value="<%=product.price%>">
                </div>

                <% if(user) { %>   <!--user logged in-->
                    <button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
                <% } else { %>          <!--user not logged in-->
                    <a href="/login" class="btn btn-warning btn-lg">Login to buy</a>
                <% } %>
            </form>

        </div>
    </div>
</div>